@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Overpass:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;

}

header {
    background-color: rgb(195, 216, 195);
}

body {
    font-family: 'Overpass', sans-serif;
}

/* Nav bar and logos */


h1 {
    text-decoration: none;
}

#logo {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 25px;
    font-size: 250%;
    text-align: left;
    color: grey;
    }


#nav-bar {
    list-style: none;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right:0;
    top: 0;
    text-align: center;
    line-height: 75px;
    margin: 25px 25px 0 0;
    letter-spacing: 3.5px;
    
}

#nav-bar a {
    text-decoration: none;
}

/* Introduction / Who we are */
