@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Overpass:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;

}

header {
    background-color: green;
}

body {
    font-family: 'Overpass', sans-serif;
}

/* Headers and logos */


#logo {
    font-family: 'Exo 2', sans-serif;
    margin: 10px;
    padding: 25px;
    font-size: 300%;
    text-align: center;
    color: grey;
}
#nav-bar {
    list-style: none;
    font-size: 30px;
    background-color: red;
    display: inline-block;
    position: relative;
    


}

nav ul {
    float: right;
    margin-top: 5px;
    
}
